
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SimbrSoft Java Program</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">



</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">результаты</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/">дом <span
					class="sr-only">(current)</span></a> <a
					class="nav-item nav-link active" href="/история">история <span
					class="sr-only">(current)</span></a> <a
					class="nav-item nav-link active" href="https://disk.yandex.ru/i/WLi-ZvgmYRU-7g">задача <span
					class="sr-only">(current)</span></a>
			</div>
		</div>
	</nav>

	<br />
	<br />


	<!-- partial:index.partial.html -->
	<div class="container my-m2">
	<p class="h1">Проведенные поиски</p>


		<br/>

		<button type="button" class="btn btn-dark">
			<a href="/">Сделайте еще один поиск</a>
		</button>
			<br />
	<br />
		<table border="1" class="table table-striped table-responssive-md">

			<thead>
				<tr>
					<th>код</th>
					<th>Ссылка</th>
					<th>Всего Слов</th>
					<th>Подробности</th>
				</tr>
			</thead>

			<tbody>
			
				<tr th:each="searches: ${listSearches}">
					<td th:text="${searches.id}"></td>
					<td th:text="${searches.link}"></td>
					<td th:text="${searches.totalWords}"></td>
					<td><a th:href = "@{/поискаДетали/{id}(id=${searches.id})}"  class="btn btn-primary">Слова</a></td>

			</tbody>

		</table>
		
		


	</div>
	<!-- partial -->

</body>
</html>